﻿@model Blog.Entities.UserLogin
@{
    var isAuthentificated = ViewBag.IsAuthentificated;
    var username = ViewBag.UserName;
}

<div id="login" class="login">
    @if (isAuthentificated)
    {
      
        <ul class="nav pull-right">
            <li>
                <form method="GET" action="/LogOut">
                    <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Hello, @username!</span>
                    <input type="submit" value="Log Out" />
                </form>
            </li>
        </ul>
        
    }
    else
    {
        <ul class="nav pull-right">
            <li>
                <form method="POST" action="/LogIn">
                    @Html.TextBoxFor(it => it.Name)
                    @Html.PasswordFor(it => it.Password)
                    <input type="submit" value="Log In" />
                </form>
            </li>
        </ul>
    }
</div>
