﻿@model Blog.Entities.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="box">

            <div style="text-align:center">
                <form role="form" action="@Url.Action("Index", "Register")" method="post">

                    <div class="form-group">
                        <div class="col-sm-10">
                            @Html.LabelFor(x => x.Name)
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Name)
                        </div>
                        <div class="col-sm-10">
                            <p style="color:red"> @Html.ValidationMessageFor(x => x.Name) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            @Html.LabelFor(x => x.Password)
                        </div>
                        <div class="col-sm-10">
                            @Html.PasswordFor(x => x.Password)
                        </div>
                        <div class="col-sm-10">
                            <p style="color:red">@Html.ValidationMessageFor(x => x.Password)</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-10">
                            @Html.LabelFor(x => x.ConfirmPassword)
                        </div>
                        <div class="col-sm-10">
                            @Html.PasswordFor(x => x.ConfirmPassword)
                        </div>
                        <div class="col-sm-10">
                            <p style="color:red">@Html.ValidationMessageFor(x => x.Password)</p>
                            <p style="color:red">@Html.ValidationSummary(true)</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>

