﻿@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alexander's Blog</title>
    
        
@**@
@*    <!-- Bootstrap Core CSS -->*@
@*    <link href="~/Styles/Libs/bootstrap.css" rel="stylesheet" />*@
@*    *@
@*    <!-- Custom CSS -->*@
@*    <link href="~/Styles/Pages/blog-post.css" rel="stylesheet" />*@
@*    <link href="~/Styles/Pages/login-view.css" rel="stylesheet" />*@

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- jQuery -->
@*    <script src="~/Scripts/Libs/jquery-2.1.3.js"></script>*@
@**@
@*    <!-- Bootstrap Core JavaScript -->*@
    @*    <script src="~/Scripts/Libs/bootstrap.min.js"></script>*@
    
    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/bundles/css")
</head>

    <body>
        
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Content("~")">Alexander's Blog</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Content("~")">Home</a>
                        </li>
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="/NewArticle">New Post</a>
                            </li>
                        }
                        <li>
                            <a href="/Register">Register</a>
                        </li>
                      
                    </ul>
                  
                            @{ Html.RenderAction("GetLoginView", "User"); }
                    
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <div class="container">
            @RenderBody()
            
            <hr/>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <p>Copyright &copy; Alexander's Blog 2015</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        

@*        <script src="~/Scripts/Pages/Comments.js"></script>*@
@*        <script src="~/Scripts/Pages/ArticlePage.js"></script>*@
    </body>

</html>
