﻿@using Blog.Entities
@model Article
           
@{

    Layout = "~/Views/Shared/Layout.cshtml";

    var isAuthentificated = ViewBag.IsAuthentificated;
}

@Html.Hidden("hArticleId", Model.Id)

<div class="row">
    <div class="box">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->
            <!-- Title -->
            <h1>@Model.Title</h1>

            <!-- Author -->
            <p class="lead">
                by <a href="#">User Name</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Posted on @Model.DateTime</p>

            <hr>

            <!-- Post Content -->
            @*<p class="lead"></p>*@
            <p>@Model.Text</p>

            <hr>

            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <div class="form-group">
                        <textarea id="taCommentText" class="form-control" rows="3"></textarea>
                    </div>
                    <button id="btnAddComment" class="btn btn-primary">Submit</button>
                </div>
                <hr>
                <div id="comments">
                    @if (Model.Comments != null && Model.Comments.Any())
                    {
                        foreach (Comment c in Model.Comments)
                        {
                            Html.RenderPartial("Comment", c);
                        }
                    }
                </div>
            }
        </div>

    </div>
</div>

<!-- /.row -->

<div class="col-lg-12 text-center">
    <ul class="pager">
        <li class="previous">
            <a id="btnPrevArticle">&larr; Older</a>
        </li>
        <li class="next">
            <a id="btnNextArticle">Newer &rarr;</a>
        </li>
    </ul>
</div>