﻿@using Blog.Entities

@model List<Blog.Entities.ArticleShort>

@{
    
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="box">
        @foreach (ArticleShort a in Model)
        {
            <div class="col-lg-12 text-center">
                <h2>
                    @a.Title
                    <br>
                    <small>by @a.UserName at @a.DateTime</small>

                </h2>
                <p>@a.Text</p>
                <a href="Article/@a.Id" class="btn btn-default btn-lg">Read More</a>
                <hr>
            </div>
        }
    </div>
</div>