﻿@model Blog.Entities.Comment

<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            @Model.User.Name
            <small>@Model.DateTime</small>
        </h4>
        @Model.Text
    </div>
</div>
