﻿@model Blog.Entities.Article

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>new post form</strong>
            </h2>
            <hr>
            <form role="form" action="/NewArticle" method="POST">
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label>Title</label>
                        <textarea class="form-control" name="Title" rows="3"></textarea>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group col-lg-12">
                        <label>Text</label>
                        <textarea class="form-control" rows="30" name="Text"></textarea>
                    </div>

                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
